
 a{
    text-shadow: 3px 3px 5px black;
    color: whitesmoke;
}
a:hover{
    color: whitesmoke;
}
.dropdown-content{
    display: none;
    position: absolute;
    z-index: 1;
}
.dropdown-content a{
    padding-top: 10px;
    text-align: center;
    background-color: rgb(171, 201, 236);
    color: whitesmoke;
    height: 50px;
    width: 400px;
    display: block;
}
.dropdown-content a:hover{
    background-color: rgb(10, 74, 170);
    color: whitesmoke;
    text-decoration: none;
}
.dropdown {
    position: relative;
    display: block;
  }

.dropdown:hover .dropdown-content{
    display: block;
}