.App{
  font-family: serif;
}
.App-header {
  background-image: url("bg1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 40vh;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-contenu{
  min-height: 100vh;
  margin-top: 20px;
  
}

.essai{
  display: none;
}